.cover{
    background-image: url("./Img/learning.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover_text{
    left: 2%;
    position: relative;
    top: 30%;
    width: 50%;
}
.cover_text h1{
    color: white;
    font-size: 3.5pc;
    font-weight: 700;
}
.cover_text p{
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.1em;
}
.cover_text button{
    align-self: center;
    font-size: 1.5em;
}